@import url(https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i);

#main_video .text { position: absolute; width: 100%; left: 0; }
.clear,.what-we-slider-bar,.wrapper:after { clear: both; overflow: hidden; }
#main_video .botom_arrow:focus,.things-bar .slick-arrow:focus,.what-we-slider-bar .repeat:focus,.what-we-slider-bar .slick-arrow:focus,html #wrapper .things-bar .bottom_sec ul li:focus,html #wrapper a:focus { outline: 0; }
#wrapper { font-family: 'Lato', sans-serif; font-weight: 400; }
#wrapper h1 { font-family: 'VanguardCF-DemiBold'; }
#wrapper h2 { font-family: 'VanguardCF-DemiBold'; }
#wrapper h3 { font-family: 'VanguardCF-Medium'; }
html #wrapper a { text-decoration: none; }

.wrapper { padding: 0 15px; max-width: 1470px; margin: auto; position: relative; }
.wrapper:after { display: block; width: 100%; height: 0; content: ''; }
html #wrapper h1 {  }

html #wrapper .blue-btn { display: inline-block; vertical-align: top; font-size: 14px; text-transform: uppercase; font-family: 'Lato', sans-serif; line-height: 23px; padding: 6px 15px;background: #4a90e2; color: #fff; font-weight: 900; letter-spacing: 1px; border-radius: 8px; -webkit-border-radius: 8px; text-shadow: 0 1px 2px #424040; text-align: center; }
html #wrapper .blue-btn:hover { text-decoration: none; color: #fff; background: #529dde; }

#main_video h1 { margin: 0px; font-size: 84px; line-height: 87px; color: #fff; text-align: center; letter-spacing: 2.64px; transition: all 350ms; -webkit-transition: all 350ms; }
#main_video .wrapper { max-width: 830px; }
#main_video .wrapper.fadeInText h1, #main_video .wrapper.fadeInText p { opacity: 0; }
#main_video .text { text-align: center; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); z-index: 2; }
#main_video { height: calc(100vh - 141px); height: -webkit-calc(100vh - 141px); position: relative; background-size: cover; background-repeat: no-repeat; background-position: top center; overflow: hidden; }
#main_video p { font-size: 20px; line-height: 28px; font-weight: normal; font-family: 'latoheavy'; padding: 23px 0 22px; max-width: 650px; margin: auto; color: #faf5f5; letter-spacing: 0.6px; transition: all 350ms; -webkit-transition: all 350ms; }

#main_video .botom_arrow.fadeInText { opacity: 0; }
#main_video .botom_arrow { background: url(../images/arrow.svg) center center no-repeat; background-size: 71px; width: 71px; height: 71px; display: block; text-indent: -9999px; margin-left: -36px; transition: all 350ms; -webkit-transition: all 350ms; position: absolute; bottom: 40px; left: 50%; z-index: 9; }
#main_video .hero-video { width: 100%; height: 100%; position: absolute; top: 0; left: 0; overflow: hidden; }
#main_video .play-btn, #main_video .play-btn-mobile { position: absolute; top: 0px; left: 0px; z-index: 99; font-size: 0px; line-height: 0px; overflow: hidden; opacity: 0; }
#main_video .hero-video video { display: block; width: 100%; height: 100%; object-fit: cover; pointer-events: none; }

.content-cntr { position: relative; }
.content-cntr .thermometer { position: absolute; top: 150px; left: 50%; width: 75px; margin-left: -491px; }    

.icon-style { position: absolute; top: 22px; left: 295px; padding: 0 0 0 45px; }    
.icon-style:before { content: ""; position: absolute; left: 0px; top: 24px; background: #fff; height: 4px; width: 47px; display: block; }

.intro-bar { padding: 30px 0px 50px; width: 100%; position: relative; background: url(../images/intro-img.jpg) top center no-repeat; background-size: cover; }  
.intro-bar:before { content: ""; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(3,43,72,0.66); display: block; }
.intro-bar .social-icon { text-align: center; width: 100%; overflow: hidden }
.intro-bar .social-icon ul { margin: 0; list-style: none;	overflow: hidden; padding: 0 0 20px; }
.intro-bar .social-icon ul li { display: inline-block; vertical-align: top; background: 0 0; padding: 0 8px; margin: 0 }
.intro-bar .social-icon ul li a { display: block; width: 38px; height: 38px; border-radius: 100%; -webkit-border-radius: 100%; background: #fff; color: #000; text-decoration: none;	font-size: 21px; }
.intro-bar .social-icon ul li a i { line-height: 38px; display: block; text-align: center }
.intro-bar .social-icon ul li a:hover { background: #86d8f4; }
.intro-bar .wrapper { position: relative; }
.intro-bar .inner { max-width: 459px; margin: 0 auto; }
.intro-bar p { font-size: 16px; line-height: 24px; font-weight: 500; color: #fff; margin: 0px; padding: 0 0 6px; }
html #wrapper .intro-bar p a, html #wrapper .intro-bar p a:focus, html #wrapper .intro-bar p a:visited { color: #fff; text-decoration: underline; } 
html #wrapper .intro-bar p a:hover { text-decoration: none; }
.intro-bar p strong { font-weight: 900; }
.intro-bar h3 { display: block; text-align: center; margin: 0; padding: 0px 0 22px; font-weight: normal; text-decoration: none; color: #fff; letter-spacing: 2px; font-size: 24px; line-height: 30px; text-transform: uppercase; }
.intro-bar h3 a { color: #fff;  }
html #wrapper .intro-bar .blue-btn { display: block; max-width: 145px; margin: 0 auto; }
.content .intro-bar h3 a:visited { color: #fff; }

.rain-bar { position: relative; }  
.rain-bar .bg-image { height: 508px; background-size: cover; background-position: top center; background-repeat: no-repeat; }
.rain-bar .rain-inner { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
.rain-bar .one { position: absolute; top: 158px; left: 35.6%; }
.rain-bar .two { position: absolute; bottom: 70px; right: 189px; }
.rain-bar .wrapper { height: 100%; }
.rain-bar .cta-style { top: 81px; bottom: auto; width: 124px; left: 80px; }
.rain-bar .cta-style img { max-width: 66px; margin: 0 auto 8px; }
.rain-bar .cta-style h3 { font-size: 25px; line-height: 26px; letter-spacing: 1px; padding: 0px 5px 7px; }

.tile-style { text-align: center; width: 265px; }
html #wrapper .tile-style h2 { font-size: 34px; line-height: 38px; color: #fff; letter-spacing: 0.14px; font-weight: 900; font-family: 'Lato', sans-serif; text-transform: none; padding: 0 0 13px; margin: 0px; }
html #wrapper .sky-btn { padding: 11px 19px; text-align: center; font-size: 13px; line-height: 20px; letter-spacing: 0.9px; color: #032b48; font-weight: 900; display: inline-block; vertical-align: top; background: #86d8f4; text-transform: uppercase; }
html #wrapper .sky-btn.small { font-size: 10px; line-height: 14px; letter-spacing: 0.7px; padding: 9px 7px; display: block; max-width: 124px; margin: 0 auto; }
html #wrapper .sky-btn:hover { background-color: #49c7f4; }

.light-bar { position: relative; }  
.light-bar .bg-image { height: 520px; background-size: cover; background-position: top center; background-repeat: no-repeat; }
.light-bar .light-inner { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
.light-bar .one { position: absolute; bottom: 140px; left: 40.2%; width: 288px; }
.light-bar .two { position: absolute; top: 52px; right: 119px; }
.light-bar .three { position: absolute; bottom: 75px; right: 189px; }
.light-bar .wrapper { height: 100%; }
.light-bar .cta-style { top: 68px; bottom: auto; width: 153px; left: 67px; }
.light-bar .cta-style img { max-width: 68px; margin: 0 auto 9px; }
.light-bar .icon-style:before { top: 23px; }
.light-bar .triggerspacer { height: 422px; }

.ice-bar { position: relative; }  
.ice-bar .bg-image { height: 520px; background-size: cover; background-position: top center; background-repeat: no-repeat; }
.ice-bar .ice-inner { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
.ice-bar .one { position: absolute; bottom: 51px; left: 30.5%; }
.ice-bar .two { position: absolute; bottom: 106px; right: 266px; }
.ice-bar .wrapper { height: 100%; }
.ice-bar .cta-style { top: 41px; bottom: auto; width: 147px; left: 71px; }
.ice-bar .cta-style img { max-width: 74px; margin: 0 auto 14px; }
.ice-bar .cta-style h3 { font-size: 25px; line-height: 26px; letter-spacing: 1px; padding: 0px 5px 8px; }
.ice-bar .cta-style p { padding: 0px 6px 14px; }
.ice-bar .icon-style { padding: 0 0 0 40px; }
.ice-bar .icon-style:before { top: 21px; }
.ice-bar .triggerspacer { height: 424px; }

html #wrapper .ice-bar .tile-style h2 { color: #000; }

.blizzard-bar { position: relative; }  
.blizzard-bar .bg-image { height: 520px; background-size: cover; background-position: top center; background-repeat: no-repeat; }
.blizzard-bar .blizzard-inner { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
.blizzard-bar .one { position: absolute; top: 67px; left: 41%; }
.blizzard-bar .two { position: absolute; bottom: 55px; left: 27.8%; }
.blizzard-bar .three { position: absolute; bottom: 55px; right: 266px; width: 332px; }
.blizzard-bar .wrapper { height: 100%; }
.blizzard-bar .icon-style { padding: 0 0 0 44px; }
.blizzard-bar .icon-style:before { top: 23px; }
.blizzard-bar .triggerspacer { height: 124px; }

html #wrapper .blizzard-bar .tile-style h2 { color: #000; }
html #wrapper .blizzard-bar .one.tile-style h2 { color: #fff; }

.bottom-bar { padding: 69px 0; text-align: center; }
.bottom-bar .logo { display: block; margin: 0 auto 20px; width: 223px; display: block; }
.bottom-bar p { font-size: 14px; line-height: 18px; font-weight: 700; color: #010101; margin: 0px; padding: 0 0 34px; }
.bottom-bar p a:hover { text-decoration: underline !important; opacity: 0.7; }
.bottom-bar p a, .bottom-bar p a:visited { color: #468ee5; }
.bottom-bar .author-name { font-weight: 500; font-size: 14px; line-height: 18px; color: #010101; letter-spacing: 0px; display: block; }
html #wrapper .bottom-bar .blue-btn { text-shadow: none; border-radius: 0px; -webkit-border-radius: 0px; padding: 11px 27px; margin: 0 0 30px; }
html #wrapper .bottom-bar h3 { font-family: 'Lato', sans-serif; font-weight: 700; color: #468ee5; text-transform: uppercase; letter-spacing: 1px; margin: 0px; font-size: 22px; line-height: 29px; padding: 0 0 22px; }

.cta-style { position: absolute; bottom: 91px; left: 47px; width: 180px; text-align: center; padding: 0px; }
.cta-style img { max-width: 71px; display: block; margin: 0 auto 15px; }
.cta-style img.show-mobile-only { display: none; }
.cta-style h3 { color: #fff; text-transform: uppercase; font-size: 30px; line-height: 29px; letter-spacing: 1.3px; margin: 0px; padding: 0px 0 12px; } 
.cta-style .play-btn { width: 46px; height: 46px; display: block; margin: 0 auto; border-radius: 100%; -webkit-border-radius: 100%; background: #86d8f4 url(../images/play-icon.svg) center center no-repeat; background-size: 19px auto; font-size: 0px; line-height: 0px; }
.cta-style .play-btn:hover { background-color: #49c7f4; } 
.cta-style p { font-size: 15px; line-height: 19px; color: #fff; font-weight: 900; letter-spacing: 0.52px; margin: 0px; padding: 0px 0 14px; }

.blur-class { transition: all 700ms; -webkit-transition: all 700ms; -webkit-filter: blur(10px); filter: blur(10px); }
.overlay-bar { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; font-family: 'Lato', sans-serif; font-weight: 400; display: none; z-index: 99999; background: rgba(34,33,33,0.83); }
.overlay-bar *, .overlay-bar *:before, .overlay-bar *:after { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; }
.overlay-bar .overlay-close { width: 32px; height: 32px; font-size: 0px; line-height: 0px; display: block; position: absolute; top: 2px; right: 53px; background: url(../images/close.svg) center center no-repeat; }
.overlay-bar .wrapper { max-width: 1008px; position: relative; position: relative; }
.overlay-bar .heading { padding: 30px 0; background: #032b48; width: 100%; }
.overlay-bar .heading h2 { font-family: 'Lato', sans-serif; font-weight: 900; font-size: 34px; line-height: 38px; letter-spacing: 0.14px; color: #fff; margin: 0px; padding: 0;  }
.overlay-box { width: 100%; background: #e5e5e5; box-shadow: 0 2px 8px #000; -webkit-box-shadow: 0 2px 8px #000; overflow: hidden; position: relative; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); }
.overlay-box .left { padding: 46px 0px 15px 0px; width: 30.5%; float: left; background: #4a90e2; position: relative; min-height: 551px; }
.overlay-box .left .mCustomScrollBox { padding-right: 60px; }  
.overlay-box .left .mCustomScrollbar { max-height: 480px; }
.overlay-box .right { padding: 36px 4px 0 20px; width: 69.5%; float: left; position: relative; }
.overlay-box .left img { margin: 0 0 25px; display: block; position: relative; width: auto; }
.overlay-box .left p { font-size: 16px; line-height: 24px; font-weight: 500; color: #fff; margin: 0px; padding: 0 0 10px; }
.overlay-box .left .mCSB_inside > .mCSB_container { margin-right: 0px; }
.overlay-box .left .mCSB_scrollTools { right: 22px; }
.overlay-box .left .mCSB_scrollTools .mCSB_draggerRail { background: #fff; }  
.overlay-box .left .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background: #032b48; }  
.overlay-box .left p strong { font-weight: 900; }
.overlay-box .left p a { color: #fff; text-decoration: underline; font-weight: 700; }
.overlay-box .left:before { content: ""; position: absolute; top: 0px; left: -2500000px; width: 2500000px; height: 100%; background: #4a90e2; display: block; }
.overlay-box .right p { font-size: 16px; line-height: 24px; font-weight: 500; color: #000; margin: 0px; padding: 0 0 20px; }
.overlay-box .right p strong { font-weight: 700; }
.overlay-box .right p strong a { color: #0e5fbd; }
.overlay-box .right p a, .overlay-box .right ul li a { color: #000; text-decoration: underline; font-weight: 700; }
.overlay-box .right p a:hover, .overlay-box .right ul li a:hover { text-decoration: none; }
.overlay-box .right ul { padding: 0px 0 5px; margin: 0px; list-style-type: none; font-size: 16px; line-height: 24px; font-weight: 500; color: #000; letter-spacing: 0.02em; }
.overlay-box .right ul li { padding: 0 0 6px; position: relative; text-indent: 15px; list-style-image: none; list-style-type: none; }
.overlay-box .right ul li:before { content: ""; position: absolute; top: 10px; left: 3px; width: 6px; height: 6px; background: #4a90e2; border-radius: 100%; -webkit-border-radius: 100%; }
.overlay-box .right .mCustomScrollbar { max-height: 480px; }
.overlay-box .right h2 { font-family: 'VanguardCF-Regular'; font-size: 40px; line-height: 40px; letter-spacing: 1.48px; color: #4a90e2; font-weight: normal; padding: 0px 0 22px; margin: 0px; }
.overlay-box .right h3 { font-family: 'VanguardCF-Regular'; font-size: 28px; line-height: 30px; letter-spacing: 1px; color: #4a90e2; font-weight: normal; padding: 15px 0; margin: 0px; }
.overlay-box .right h3 strong { font-weight: normal; font-family: 'VanguardCF-DemiBold'; }

.video-overlay-bar { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; font-family: 'Lato', sans-serif; font-weight: 400; display: none; z-index: 99999; background: rgba(34,33,33,0.83); }
.video-overlay-bar *, .video-overlay-bar *:before, .video-overlay-bar *:after { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; }
.video-overlay-bar .overlay-close { width: 32px; height: 32px; font-size: 0px; line-height: 0px; display: block; position: absolute; top: 0px; right: -63px; background: url(../images/close.svg) center center no-repeat; }
.video-overlay-bar .video-inner { padding: 40px 0; background: #000; position: relative; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); box-shadow: 0 4px 6px #000; -webkit-box-shadow: 0 4px 6px #000; }
.video-overlay-bar .video-inner .wrapper { position: relative; max-width: 820px; padding: 0 20px; }
.video-overlay-bar .video-iframe { position: relative; width: 100%; height: 0px; padding-top: 56.25%; background: #9b9a9b; }
.video-overlay-bar .video-iframe iframe { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; display: block; border: 0px; }
.video-overlay-bar h2 { margin: 0px; padding: 14px 0px 5px; font-family: 'VanguardCF-DemiBold'; color: #fff; text-transform: uppercase; font-size: 36px; line-height: 40px; text-align: center; letter-spacing: 0.58px; }
.overlay-bar a:focus, .video-overlay-bar a:focus { outline: none !important; }

.triggerspacer { position: absolute; top: 0px; left: 0px; height: 410px; width: 100%; }

.on-view-section { overflow: hidden; }

.rain-bar .bg-image { background-image: url(../images/rain-img.jpg); }
.light-bar .bg-image { background-image: url(../images/light-img.jpg); }
.ice-bar .bg-image { background-image: url(../images/ice-img.jpg); position: relative; }
.blizzard-bar .bg-image { background-image: url(../images/blizzard-img.jpg); }
.ice-bar .bg-image:before { content: ""; position: absolute; top: 0px; left: 0px; width: 50%; height: 100%; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+0,000000+100,000000+100&0.73+0,0.6+0,0+100 */
background: -moz-linear-gradient(left, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */ }

.show-mobile-only { display: none; } 

html.touch-devices.over-flow-hidden body.over-flow-hidden { overflow: hidden; }


/* Responsive Media Query */
@media only screen and (max-height:700px) {
	#main_video .text { padding-bottom: 50px; }  
	#main_video .botom_arrow { bottom: 20px; } 

}
@media only screen and (max-height:749px) {
	.overlay-box .right .mCustomScrollbar { max-height: 360px; }  
	.overlay-box .left .mCustomScrollbar { max-height: 340px; }  
	.overlay-box .left { min-height: 420px; }  
 
}
@media only screen and (max-width:1469px) {
	.wrapper { max-width: 1350px; } 
	.content-cntr .thermometer { margin-left: -431px; } 
	.cta-style { left: 27px; }
	.rain-bar .cta-style { left: 60px; }  
	.light-bar .cta-style { left: 47px; }
	.ice-bar .cta-style { left: 51px; }
}

@media only screen and (max-width:1349px) {
  	.wrapper { max-width: 1200px; } 
	.content-cntr .thermometer { margin-left: -356px; } 
	.cta-style { left: 27px; }
	.rain-bar .cta-style { left: 60px; }  
	.light-bar .cta-style { left: 47px; }
	.ice-bar .cta-style { left: 51px; }
	.rain-bar .two { right: 100px; }
	.light-bar .two { right: 70px; }
	.light-bar .one { left: 36%; }
	.light-bar .three { right: 110px; }  
	.ice-bar .two { right: 100px; }
	.ice-bar .one { left: 34%; }
	.blizzard-bar .three { right: 60px; }
	.blizzard-bar .one { left: 45%; }
	.blizzard-bar .two { left: 32%; } 
}

@media only screen and (max-width:1199px) {
 	.wrapper { max-width: 1024px; }
	.intro-bar .inner { max-width: 360px; }  
	.intro-bar { padding: 30px 0; }
	.rain-bar .bg-image { height: 408px; } 
	.light-bar .bg-image { height: 460px; } 
	.ice-bar .bg-image { height: 410px; }
	.blizzard-bar .bg-image { height: 420px; } 
	
	.content-cntr .thermometer { margin-left: -300px; }
	.icon-style { left: 256px; } 
	.content-cntr .thermometer { width: 65px; }
	.triggerspacer { height: 323px; } 
	.light-bar .triggerspacer { height: 367px; } 
	.ice-bar .triggerspacer { height: 316px; }  
	.blizzard-bar .triggerspacer { height: 60px; } 
	html #wrapper .tile-style h2 { font-size: 30px; line-height: 34px; }
	
	.blizzard-bar .three { right: 20px; width: 280px; }
	.tile-style { width: 237px; } 
	.blizzard-bar .one { top: 40px; }
	.ice-bar .two { right: 40px; }
	.ice-bar .one { left: 37%; }
	
	.light-bar .two { right: 20px; }
	.light-bar .three { right: 70px; }
	.rain-bar .two { right: 30px; }
	.rain-bar .one { left: 38%; }
	html #wrapper .bottom-bar h3 { font-size: 20px; line-height: 26px; letter-spacing: 0.5px; padding: 0 0 20px; }  
	html #wrapper .bottom-bar .blue-btn { margin: 0 0 20px; } 
	.bottom-bar p { padding: 0 0 20px; }  
	.bottom-bar { padding: 49px 0; }
	
	#main_video h1 { font-size: 64px; line-height: 67px; }
	#main_video p { padding: 12px 0 22px; } 
	.overlay-bar .overlay-close { right: 10px; } 
}

@media only screen and (max-width:1023px) {
	
	.wrapper { max-width: 768px; }
	.intro-bar .inner { max-width: 330px; }  
	.intro-bar .social-icon ul li { padding: 0 6px; }
	.intro-bar .social-icon ul { padding: 0 0 25px; }
	.intro-bar h3 { padding: 0px 0 15px; }
	html #wrapper .sky-btn { padding: 9px 19px; }
	.intro-bar { padding: 30px 0; }
	.rain-bar .bg-image { height: 358px; } 
	.light-bar .bg-image { height: 410px; } 
	.ice-bar .bg-image { height: 360px; }
	.blizzard-bar .bg-image { height: 370px; } 
	
	.icon-style { left: 196px; } 
	.content-cntr .thermometer { width: 55px; margin-left: -225px; top: 319px; }
	.triggerspacer { height: 262px; } 
	.light-bar .triggerspacer { height: 315px; } 
	.ice-bar .triggerspacer { height: 270px; }  
	.blizzard-bar .triggerspacer { height: 51px; } 
	html #wrapper .tile-style h2 { font-size: 26px; line-height: 30px; }
	.bottom-bar .logo { margin: 0 auto 15px; width: 200px; }
	
	.blizzard-bar .three { right: 10px; width: 240px; }
	.tile-style { width: 205px; } 
	.blizzard-bar .one { top: 30px; }
	.ice-bar .two { right: 20px; }
	.ice-bar .one { left: 38%; }
	
	.light-bar .two { right: 20px; }
	.light-bar .three { right: 70px; }
	.rain-bar .two { right: 10px; bottom: 40px; }
	.rain-bar .one { left: 41%; top: 50px; }
	.light-bar .one { bottom: 100px; }
	.light-bar .three { bottom: 40px; right: 10px; }
	html #wrapper .bottom-bar h3 { font-size: 20px; line-height: 26px; letter-spacing: 0.5px; padding: 0 0 20px; }  
	html #wrapper .bottom-bar .blue-btn { margin: 0 0 20px; } 
	.bottom-bar p { padding: 0 0 20px; }  
	.bottom-bar { padding: 40px 0; }
	.cta-style { left: 15px; width: 140px; }  
	.rain-bar .cta-style { left: 20px; top: 41px; }
	.light-bar .cta-style { left: 15px; }
	.ice-bar .cta-style { left: 15px; }
	.rain-bar .cta-style h3 { font-size: 23px; line-height: 24px; }
	.cta-style p { font-size: 13px; line-height: 16px; padding: 0px 0 10px; } 
	.cta-style h3 { padding: 0px 0 12px; font-size: 25px; line-height: 29px; } 
	.cta-style img { max-width: 50px; }  
	
	.overlay-bar .heading h2 { font-size: 30px; line-height: 36px; }
	.overlay-bar .heading { padding: 25px 0; } 
	.overlay-bar .overlay-close { right: 20px; }  
	.overlay-box .right h2 { font-size: 36px; line-height: 36px; }
	.overlay-box .right h3 { font-size: 25px; line-height: 28px; }
	
	.video-overlay-bar .video-inner .wrapper { padding: 0 70px 0 40px; }
	.video-overlay-bar .overlay-close { right: 20px; } 
	.video-overlay-bar .video-inner { padding: 30px 0; }  
	.video-overlay-bar h2 { font-size: 32px; line-height: 36px; padding: 14px 0px 0px; } 

}

@media only screen and (max-width:767px) {
	#main_video h1 { font-size: 33px; line-height: 34px; letter-spacing: 2.2px; }
	#main_video .wrapper { max-width: 290px; }  
	#main_video p { font-size: 12px; line-height: 15px; padding: 7px 15px 5px; }
	#main_video p br { display: none; }
	#main_video { height: 319px; margin-bottom: 0px; overflow: visible; }
	#main_video:after { display: block; width: 100%; content: ""; height: 112px; background: #000; position: absolute; bottom: -112px; left: 0px; }
	#main_video .botom_arrow { width: 45px; height: 45px; background-size: 43px auto; margin-left: -22px; bottom: 60px; }
	#main_video .text { padding: 70px 0; top: 0px; transform: none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; background: rgba(0,0,0,0.4); height: 100%; }    
	
	.intro-bar .social-icon { margin: 0px auto; position: relative; left: -27px; z-index: 2; } 
	.intro-bar .social-icon ul li { padding: 0 7px; }  
	.intro-bar .social-icon ul li a { width: 30px; height: 30px; font-size: 17px; line-height: 30px; } 
	.intro-bar .social-icon ul li a i { line-height: 32px; }
	.intro-bar .social-icon ul { padding: 0 0 9px; }  
	.intro-bar .inner h3 { width: 100%; text-align: center; font-size: 18px; line-height: 20px; padding: 0px 0 39px; position: relative; left: -26px; }
	html #wrapper .intro-bar .blue-btn { margin: 28px auto 56px; position: relative; left: -27px; }  
	.intro-bar p { font-size: 14px; line-height: 20px; }
	.wrapper { max-width: 100%; padding: 0 20px; }
	
	.cta-style { position: absolute; bottom: 0px; left: 50%; top: auto; margin: 0 auto; width: 220px; margin-left: -110px; z-index: 1; }
	.cta-style .cta-inner { position: relative; right: 10px; }  
	.cta-style img { max-width: 51px; }
	.cta-style img.show-desktop-only { display: none; }  
	.cta-style img.show-mobile-only { display: block; }
	.cta-style .play-btn { padding: 7px 19px; text-align: center; font-size: 14px; line-height: 20px; letter-spacing: 0.9px; color: #032b48; font-weight: 900; display: inline-block; vertical-align: top; background: #86d8f4; text-transform: uppercase; width: auto; height: auto; border-radius: 0px; -webkit-border-radius: 0px; margin: 5px 0 0; }
	.cta-style h3 { display: block; font-size: 28px; line-height: 28px; } 
	html #wrapper .tile-style h2 { font-size: 24px; line-height: 27px; padding: 0; }  
	.content-cntr .thermometer { top: 107px; left: 50%; margin: 0px 0 0 -157px; width: 51px; } 
	.intro-bar .inner { padding: 0; max-width: 226px; margin: 0 auto; } 

	
	.rain-bar .bg-image { height: 864px; } 
	.light-bar .bg-image { height: 805px; }
	.ice-bar .bg-image { height: 585px;}     
	.blizzard-bar .bg-image { height: 510px; }
	
	.rain-bar .one { left: 50%; top: 278px; margin-left: -32px; }  
	.rain-bar .two { left: 50%; right: 0px; bottom: auto; top: 407px; margin-left: -45px; width: 180px; }  

	.tile-style { width: 165px; margin-left: -62px; z-index: 2; }  
	html #wrapper .sky-btn { background: none; color: #fff; font-size: 14px; padding: 5px 19px; }
	
	.rain-bar .cta-style.the-winter-car { bottom: auto; top: 33px; width: 204px; margin-left: -41px; }
	.rain-bar .cta-style.the-winter-car img { max-width: 51px; margin-bottom: 7px; }
	.rain-bar .cta-style.the-winter-car h3 { padding: 0px 5px 3px; font-size: 28px; line-height: 28px; }
	.rain-bar .cta-style { left: 50%; bottom: 61px; top: auto; width: 188px; margin-left: -37px; }
	.rain-bar .cta-style img { margin-bottom: 7px; }
	.cta-style p { font-size: 16px; line-height: 19px; padding: 2px 34px 10px; }   

	.light-bar .cta-style { left: 50%; bottom: 22px; top: auto; margin-left: -25px; width: 170px; }
	.light-bar .cta-style h3 { padding: 0px 0 8px; font-size: 24px; line-height: 24px; }
	.light-bar .cta-style img { max-width: 74px; margin: 0 auto 13px; }  
	.light-bar .cta-style h3 br { display: none; }
	html #wrapper .light-bar .sky-btn.small { min-width: 120px; text-align: center; }
	.light-bar .cta-style p { font-size: 16px; padding: 2px 0px 14px; }
	
	.ice-bar .cta-style { left: 50%; bottom: 30px; top: auto; width: 138px; margin-left: 0px; }
	.ice-bar .cta-style img { max-width: 48px; margin: 0 auto 8px; }
	.ice-bar .cta-style h3 { font-size: 24px; line-height: 24px; color: #000; }
	#wrapper .ice-bar .cta-style h3 { font-family: 'VanguardCF-DemiBold'; }

	
	.light-bar .one { left: 50%; bottom: auto; top: 116px; right: auto; width: 174px; margin-left: -37px; }
	.light-bar .three { left: 50%; bottom: auto; top: 262px; right: auto; width: 171px; margin-left: -37px; } 
	.light-bar .two { right: auto; left: 50%; top: 387px; width: 170px; margin-left: -37px; }
	
	.ice-bar .one { top: 150px; left: 50%; right: auto; margin-left: -27px; bottom: auto; }
	.ice-bar .two { top: 249px; left: 50%; right: auto; margin-left: -24px; bottom: auto; }
	
	.blizzard-bar .one { top: 103px; left: 50%; right: auto; margin-left: -26px; width: 167px; }
	html #wrapper .blizzard-bar .sky-btn { color: #000; }
	.blizzard-bar .two { top: 219px; left: 50%; right: auto; margin-left: -60px; width: 230px; bottom: auto;  }
	.blizzard-bar .three { top: 343px; left: 50%; right: auto; width: 150px; margin-left: -22px; }
	
	.bottom-bar .logo { width: 180px; margin: 0 auto 12px; } 
	html #wrapper .bottom-bar h3 { font-size: 17px; line-height: 21px; padding: 0 7px 13px; } 
	html #wrapper .bottom-bar h3 span { text-transform: none; color: #000; display: block; padding: 18px 16px 0; }  
	html #wrapper .bottom-bar .blue-btn { font-size: 11px; line-height: 15px; padding: 11px 20px; margin: 0 0 27px; } 
	.bottom-bar p { font-size: 12px; line-height: 15px; padding: 0 0 17px; }
	.bottom-bar p br { display: none; }
	.bottom-bar .author-name { font-size: 12px; line-height: 15px; font-weight: 700; }  
	.bottom-bar .author-name br { display: none; }
	.bottom-bar .author-name span { display: block; padding: 10px 0 0; }
	
	.bottom-bar { padding: 27px 6px 22px; }
	.intro-bar .wrapper { padding: 0 20px; margin-left: 54px; }
	.rain-bar .cta-style h3 { font-size: 24px; line-height: 25px; }
	
	html #wrapper .sky-btn.small { color: #032b48; font-size: 14px; line-height: 18px; padding: 9px 18px; max-width: none; background: #86d8f4; display: inline-block; vertical-align: top; margin: 0px; }
	
	html #wrapper .ice-bar .tile-style h2 { color: #000; }
	html #wrapper .ice-bar .sky-btn { color: #000; }
	
	.intro-bar { background-image: url(../images/intro-img-mobile.jpg); padding: 14px 0 16px; }  
	.intro-bar .wrapper { z-index: 2; }  
	.intro-bar:after { content: ""; position: absolute; top: 0px; left: 0px; width: 100%; height: 84px; background: rgba(0,0,0,0.4); }
	.intro-bar .cta-style h3 br { display: none; }

	.rain-bar .bg-image { background-image: url(../images/rain-img-mobile.jpg); }
	.light-bar .bg-image { background-image: url(../images/light-img-mobile.jpg); }
	.ice-bar .bg-image { background-image: url(../images/ice-img-mobile.jpg); }
	.blizzard-bar .bg-image { background-image: url(../images/blizzard-img-mobile.jpg); }
	
	.show-mobile-only { display: block; } 
	.show-desktop-only { display: none; } 
	
	html #wrapper .blizzard-bar .one.tile-style h2 { color: #000; }
	

	.video-overlay-bar .video-inner .wrapper { padding: 0 12px; max-width: 100%; }
	.video-overlay-bar .overlay-close { width: 30px; height: 30px; background-size: 26px auto; top: -38px; right: 10px; } 
	.video-overlay-bar .video-inner { padding: 52px 0 37px; }
	.video-overlay-bar h2 { font-size: 25px; line-height: 25px; max-width: 176px; margin: 0 auto; }
	.overlay-box .left p { font-size: 14px; line-height: 20px; }
	.overlay-box .left .mCustomScrollBox { padding-right: 0px; }  

	.overlay-box .left { float: none; width: auto; min-height: inherit; background: none; padding: 17px 0px 7px; margin: 0 5px; border-bottom: 2px solid #0f60bc; }  
	.overlay-box .left .mCustomScrollbar { max-height: none; }  
	.overlay-box .left p { color: #000; }
	.overlay-box .left:before { display: none; } 
	.overlay-box .right { width: 100%; float: none; padding: 25px 0px 0; }
	.overlay-box { top: auto; transform: none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; overflow: auto; -webkit-overflow-scrolling: touch; height: 100%; } 
	.overlay-bar { padding: 0px; overflow: auto; -webkit-overflow-scrolling: touch; }  
	.overlay-box .left img { display: none; }
	.overlay-bar .heading h2 { font-size: 34px; line-height: 34px; text-transform: uppercase; font-family: 'VanguardCF-DemiBold'; text-align: center; padding: 0 22px; }  
 	.overlay-bar .heading { padding: 10px 0 13px; } 
	.overlay-bar .overlay-close { right: 10px; background-size: 22px auto; }
	.overlay-box .right h2 { font-size: 28px; line-height: 28px; color: #032B48; text-align: center; font-family: 'VanguardCF-DemiBold'; padding: 0px 0 15px; }  
	.overlay-box .left p a { color: #000; }
	.overlay-box .right ul { font-size: 14px; line-height: 20px; }
	.overlay-box .right ul li { margin: 0px; } 
	.overlay-box .right ul li:before { top: 8px; width: 4px; height: 4px; } 
	.overlay-box .right p { font-size: 14px; line-height: 20px; }
	.overlay-box .right h3 { font-size: 20px; line-height: 24px; padding: 10px 0; }
	.mCSB_scrollTools .mCSB_draggerRail { background: none; }
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background: #979797; } 
	.mCSB_inside > .mCSB_container { margin-right: 25px; } 
	.icon-style:before { left: 0px; width: 23px; height: 3px; top: 18px; } 
	.light-bar .icon-style:before { top: 18px; } 
	.ice-bar .icon-style:before { top: 17px; }
	.blizzard-bar .icon-style:before { top: 16px; background: #000; }  
	.icon-style { padding: 0 0 0 22px; top: 15px; left: 50%; z-index: 1; margin-left: -123px; }  
	.blizzard-bar .icon-style, .ice-bar .icon-style { padding: 0 0 0 22px; }
	
	.triggerspacer { height: 790px; } 
	.light-bar .triggerspacer { height: 726px; } 
	.ice-bar .triggerspacer { height: 518px; }  
	html #wrapper .sky-btn:not(.external-link):hover { background: none; }
	.blizzard-bar .triggerspacer { height: 210px; } 
	.ice-bar .bg-image:before { display: none; }

}

@media only screen and (max-width:479px) {
 
}

/* IE Hack */
@media all and (-ms-high-contrast:none) {
 
}

